@model proyectoBuzon.Models.Tecnico

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout_AdminIndex.cshtml";
}

<h2>Crear</h2>

<h4>Técnico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CedulaTecnico" class="control-label"></label>
                <input asp-for="CedulaTecnico" class="form-control" />
                <span asp-validation-for="CedulaTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresTecnico" class="control-label"></label>
                <input asp-for="NombresTecnico" class="form-control" />
                <span asp-validation-for="NombresTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosTecnico" class="control-label"></label>
                <input asp-for="ApellidosTecnico" class="form-control" />
                <span asp-validation-for="ApellidosTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonoTecnico" class="control-label"></label>
                <input asp-for="TelefonoTecnico" class="form-control" />
                <span asp-validation-for="TelefonoTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pasword" class="control-label"></label>
                <input asp-for="Pasword" class="form-control" />
                <span asp-validation-for="Pasword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoTecnico" class="control-label"></label>
                <input asp-for="CorreoTecnico" class="form-control" />
                <span asp-validation-for="CorreoTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
